/* ---------- RESET ----------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: black;
}

html,
body,
div,
Box {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* ---------- TYPOGRAPHY ----------*/

form svg {
  font-size: 2rem;
}

.drac-checkbox + label {
  font-size: 1.15rem;
}

svg {
  font-size: 1.35rem;
  cursor: pointer;
}

svg:hover,
svg:focus {
  opacity: .6;
  filter: drop-shadow(1px 2px 3px #f70a80);
}

li.item:hover .drac-text,
li.item:focus .drac-text {
  color: #ff80bf;
}

/* TODO: find out how to enact this */
.drac-checkbox:checked {
  color: #f70a80;
}

/* ---------- LAYOUT ----------*/

.inputBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drac-checkbox {
  margin-right: 1em;
}
.drac-checkbox + label {
  margin: 0 .25em .5em 0;
}

li .item {
  display: flex;
  align-items: center;
}
